@tailwind base;
@tailwind components;
@tailwind utilities;

body:root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-custom {
  background-image: url("/fondo.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.text-stroke-title {
  position: absolute;
  bottom: -3px;
  left: -5px;
  -webkit-text-stroke: 0.5px #a98a4d;
  color: transparent;
  text-transform: uppercase;
}
